<html>
  <head>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <style>
      img {
	  width: 90%;
	  height: 90%;
          object-fit: cover;
      }
    </style>
  </head>
  <body>
    <h1>Hello World!</h1>
    <div class="my-pics">
      <% pictures.forEach(function(pic){ %>
	<div><img src="<%= pic %>" /></div>
      <% }); %>
    </div>
    <script>
      $(document).ready(function(){
	$('.my-pics').slick({});
      });
    </script>
  </body>
</html>
